.console{
    overflow-y: scroll;
    font-style: italic;
    font-size: 14;
    color: white;
    height: 200px;
    width: 100%;
    transform: translate(0px,11px);
}

.console-externo{
    height: 224px;
}

.console-color{
    background-color: #232323;
}

.console-border{
    background-color: #141414;
}