<div class="container">
    <div class="estilo-letras">
        <mat-form-field style="width:100%" color="accent" backgroundColor="accent">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-label>Nombre del Archivo</mat-label>
                        <input matInput [(ngModel)]="tabtitle">
                    </td>
                    <td>
                        <button mat-raised-button class="btn btn-primary example-add-tab-button"
                            (click)="addTab()">
                            Crear Archivo
                        </button>
                    </td>
                    <!-- <td>
                        <button mat-raised-button class="btn btn-primary example-add-tab-button"
                            (click)="addTab(selectAfterAdding.checked)">
                            Crear Archivo
                        </button>
                    </td> -->
                    <!-- <td>
                        <mat-checkbox #selectAfterAdding> Selccionar despues de crear</mat-checkbox>
                    </td> -->
                </tr>
            </table>
        </mat-form-field>
    </div>
    <!-- <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)" color="accent"
        backgroundColor="accent">
        <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
            <div>
                <div class="btn div-close">
                    {{tab}}
                </div>
                <button mat-raised-button class="btn btn-close-custom" [disabled]="tabs.length === 0"
                    (click)="removeTab(index)">
                    ✕
                </button>
            </div>
            <app-editor-crl initCode=""></app-editor-crl>
        </mat-tab>
    </mat-tab-group>-->
    <div style="background-color: #1e1e1e; border-radius: 7px 7px 0px 0px;">
        <div>
            <ul class="nav">
                <ng-container *ngFor="let tab of tabs; let index = index">
                    <li class="nav-item">
                        <div>
                            <button id="{{index}}" class="btn div-close" (click)="enabledEditor(index)" >{{tab}} </button>
                            <button class="btn btn-close-custom" [disabled]="tabs.length === 0"
                                (click)="removeTab(index)">
                                ✕
                            </button>
                        </div>
                    </li>
                </ng-container>
            </ul>
        </div>
        <div>
            <ng-template appDynamicComponent>
            </ng-template>
        </div>
    </div>
    <button class="btn" (click)="getAllCode()">Recupera Aqui</button> 
    <br>
</div>