<div #contenedor class="display-false">
    <div class="container contenedor-editor">
        <br>
        <div>
            <button class="btn btn-descargar" (click)="descargarCodigoEditor()">Descargar Codigo {{codigoRef}}
            </button>
        <div #ubicacion class="btn tab-ubicacion">
            {{ubicacionEditor}}
        </div>
        </div>
        <!-- <div class="app-ace-editor" #editor style="width: 100%;height: 500px;"></div> -->
        <div>
            <textarea #textbox (keydown)="onKeyDownEvent($event)" (keyup)="actualizarCodigo()" class="estilos-editor"
            placeholder="Script code CRL ...." wrap="off"></textarea>
        </div>
        <br>
    </div>
</div>