<br>
<div class="container">
    <div class="input-group">
        <div class="input-acctions" style="margin-top: 10px; border-radius: 4px;">
            <button class="btn btn-acciones2" (click)="setCodigoAPP()" style="margin-left: 10px;">Cargar Archivo</button>
            <input type="file" class="btn" id="btnCargarCRL" name="btnCargarCRL" multiple="multiple" accept=".crl" (change)="onFileSelected($event)" #inputFile>
        </div>
        <div style="margin-top: 10px;">
        </div>
        <!-- <div style="margin-top: 10px;">
            <button class="btn btn-acciones" style="margin-left: 10px;" (click)="obtenerProyectoCompleto()">Descargar Proyecto Completo</button>
        </div> -->
        <div style="margin-top: 10px;">
            <button class="btn btn-acciones" style="margin-left: 10px;" (click)="obtenerCodigo()">Ejecutar Proyecto</button>
        </div>
    </div>
</div>
<br>
<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Editor</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Graficos</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <ng-template appDynamicComponent> </ng-template>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <ng-template appDynamicComponent2></ng-template>
        </div>
      </div>
</div>

