<br>
<div class="container">
    <div class="input-group">
        <div class="input-acctions" style="margin-top: 10px; border-radius: 4px;">
            <button class="btn btn-acciones2" (click)="setCodigoAPP()" style="margin-left: 10px;">Cargar Archivo</button>
            <input type="file" class="btn" id="btnCargarCRL" name="btnCargarCRL" multiple="multiple" accept=".crl" (change)="onFileSelected($event)" #inputFile>
        </div>
        <div style="margin-top: 10px;">
        </div>
        <!-- <div style="margin-top: 10px;">
            <button class="btn btn-acciones" style="margin-left: 10px;" (click)="obtenerProyectoCompleto()">Descargar Proyecto Completo</button>
        </div> -->
        <div style="margin-top: 10px;">
            <button class="btn btn-acciones" style="margin-left: 10px;" (click)="obtenerCodigo()">Ejecutar Proyecto</button>
        </div>
    </div>
</div>

<br>


<ng-template appDynamicComponent>
</ng-template>