<br>
<div class="container">
    <div class="">
        <label class="btn label-file" for="btnCargarCRL">Cargar Archivo</label>
        <input type="file" class="btn input-acctions" id="btnCargarCRL" name="btnCargarCRL" accept=".crl">
        <button class="btn btn-acciones" style="margin-left: 10px;">Descargar Proyecto Completo</button>
        <button class="btn btn-acciones" style="margin-left: 10px;">Ejecutar Proyecto</button>
    </div>
</div>
<br>
<app-contenedor-editor></app-contenedor-editor>
<app-consola-crl></app-consola-crl>